hr{
    margin: 0;
}

.rodape{
    background-color: var(--cor-branco);
    padding: 1em;
}

.rodape-lista{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;  
    }

    .rodape__titulo{
        font-size: 24px;
        font-weight: 400;
        margin-top: 2em;
    }
    .rodape-lista__titulo{
        color: var(--cor-cinza-claro);
        font-size: 14px;
    }

    .rodape-lista{
       display: block;
    }

    .rodape-lista__item{
        display: flex;
        align-items: center;
        margin-top: 2em;
    }
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cor-cinza);
        margin-left: 0.5em;
    }
}

@media screen and (min-width: 1728px) {
    .rodape-lista{
      border-left: 1px solid var(--cor-cinza-claro) ;
      padding-left: 1em;
    }

    .rodape{
        padding: 3.5em;
    }
}